html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  hyphens: auto;
  word-break: break-all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #8c6b68;
  font-family: sans-serif;
}

/*
Additional Pallet Colors:
#D99177
#F2D0C4
#8C4842
#8C6B68
#592A2A*/

header {
  background: purple;
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

article {
  padding: 10px;
  margin: 10px;
  background: aqua;
  border-radius: 0.755rem;
  /* max-width: 300px; */
  flex: 1 200px;
}

article:nth-of-type(3) {
  flex: 2 200px;
}

.section-header {
  height: 1.5rem;
  text-align: center;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

button {
  font-size: 18px;
  line-height: 1.5;
  inline-size: 15%;
}

/* button:nth-child(3) {
  align-self: flex-start;
  order: 0;
} */

div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  block-size: 100px;
  border: 1px solid black;
}
